POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=music_gen_db
NODE_ENV=development
NODEMAILER_USER=  #your nodemailer  email eg user@gmail.com
NODEMAILER_SECRET=# your nodemailer  app password https://chatgpt.com/share/696e6a5f-bf74-8012-9c9f-260f9b9f17f6
MAIL_HOST='gmail'
MAIL_SENDER=#your nodemailer  email eg user@gmail.com
CLIENT_URL=http://localhost:4000
JWT_ACCESS_TOKEN_SECRET= # your jwt access token secret eg a long random string
JWT_ACCESS_TOKEN_EXPIRATION_TIME=15m
JWT_REFRESH_TOKEN_SECRET=# your jwt refresh token secret eg a long random string
JWT_REFRESH_TOKEN_EXPIRATION_TIME=7d
JWT_PASSWORD_SECRET=# your jwt password token secret eg a long random string
JWT_PASSWORD_EXPIRATION_TIME=1h
ENCRYPTION_KEY= # your encryption key eg a long random string
MODAL_PROXY_KEY=#your modal proxy key  https://modal.com/settings/proxy-auth-tokens    https://modal.com/docs/guide/webhook-proxy-auth
MODAL_PROXY_SECRET=#your modal proxy secret https://modal.com/settings/proxy-auth-tokens  https://modal.com/docs/guide/webhook-proxy-auth
GENERATE_SONG_URL=#your generate song url from modal
AUDIUS_API_KEY=#your audius api key (optional)
AUDIUS_API_SECRET=#your audius api secret (optional)
AUDIUS_APP_NAME=#your audius app name (optional)
AUDIUS_ENVIRONMENT=#your audius environment: production|development (optional)
GOOGLE_CLIENT_ID=#your google client id
GOOGLE_CLIENT_SECRET=#your google client secret
GOOGLE_REDIRECT_URI=http://localhost:3000/integrations/youtube/callback
GOOGLE_STATE_TOKEN_SECRET=#your google state token secret
GOOGLE_STATE_EXPIRATION_TIME=5m
META_APP_ID=#your facebook app id
META_APP_SECRET=#your facebook app secret
META_REDIRECT_URI=http://localhost:3000/integrations/facebook/callback
META_STATE_TOKEN_SECRET=#your meta state token secret
META_STATE_EXPIRATION_TIME=5m
CLOUDINARY_CLOUD_NAME=#your cloudinary cloud name
CLOUDINARY_API_KEY=#your cloudinary api key
CLOUDINARY_API_SECRET=#your cloudinary api secret
VITE_SERVER_URL=http://localhost:3000
VITE_CLOUDINARY_CLOUD_NAME=#your cloudinary cloud name