.venv
**/*.env
__pycache__/
*.pyc
instance/
ai_service/generated/
**/*.github/copilot-instructions.md
**/samples.txt

# VSCode
.vscode/    


# nest /server
server/node_modules/
server/.env
server/dist/
server/.DS_Store
server/sessions/
server/credentials/


# compiled output
server/dist
server/node_modules
server/build

# Logs
server/logs
server/*.log
server/npm-debug.log*
server/pnpm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
server/coverage
server/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
**/*.env
**/*.env.development.local
**/*.env.test.local
**/*.env.production.local
**/*.env.local

# temp directory
**/.temp
**/.tmp

# Runtime data
**/pids
**/*.pid
**/*.seed
**/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

**/*.agents
**/*.claude
CLAUDE.md
skills-lock.json